html{
    font-size: 10px;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: lightblue;
    color: #921A40;
}

@media only screen and (min-width: 800px) {
    html {
        font-size: 15px;
    }
  }

#container{
    margin: 10vw;
}

h1{
    font-size: 5rem;
}